body {
  background-color: #556270;
  min-height: 100vh;
  color: #4ecdc4;
}
.center {
  width: 50%;
  margin: 20px auto;
}
.form-group {
  margin-bottom: 0.5rem;
}
.font-style {
  font-family: 'Caveat Brush', cursive;
}
h1.font-style {
  color: #ff6b6b;
  font-size: 6em;
}
span.font-style {
  font-size: 1.7rem;
}
.input-boxes {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
